.searchList {
  height: 0;
  position: absolute;
  width: 75%;
  float: right;
}
#searchInput {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=)
    right center no-repeat;
  background-size: 40px 40px;
  font-size: 25px;
  padding: 14px 45px 12px 5px;
  border: none;
  font-family: "Lato";
  float: right;
  width: 0px;
  margin-bottom: 1em;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
}
#searchInput:focus:hover {
  border-bottom: 1px solid #bbb;
}

#searchInput:focus:focus {
  width: 100%;
  border-bottom: 1px solid #bbb;
  outline: none;
  cursor: text;
}
app-search-list{
  width: 100%;
  visibility: hidden;
}
#searchInput:focus:focus + app-search-list{
  visibility: visible;
}
app-search-list:hover:hover{
  visibility: visible;
}
.wordData{
  margin-top: 5em;
}
.para{
  padding-bottom: 2em;
  border-bottom: 1px solid #bbb;
}