header
  div
    a.logo(routerLink='/') 
    nav
      ul
        li
          a(routerLink='/') Home
        li
          a(routerLink='/dictionary') Dictionary
        li
          a(routerLink='/about') About
        li
          a(routerLink='/contact') Contact us
